@(form: Form[ChangePasswordRequest])
@import helper.twitterBootstrap._

@main("Change password") {
  <div class="row">
    <div class="main">
      <h2>PeLoTi</h2>
      <p>Thou have been granted permission to change thou password</p>
      @helper.form(action = routes.Portal.changePasswordHandler, args = 'method -> "POST") {
        <div class="form-group">
          @helper.inputText(form("email"), args = 'placeholder -> "Email", '_label -> "Email", '_showConstraints -> false)
          @helper.inputPassword(form("oldPassword"), args = 'placeholder -> "Old password", '_label -> "Old password", '_showConstraints -> false)
          @helper.inputPassword(form("newPassword"), args = 'placeholder -> "New Password", '_label -> "New password", '_showConstraints -> false)
        </div>
        <input type="submit" value="Change password" class="btn btn-primary" />
      }
    </div>
  </div>  
}