@(form: Form[String])
@import helper.twitterBootstrap._

@main("Change password") {
  <div class="row">
    <div class="main">
      <h2>PeLoTi</h2>
      <p>Forgotten your password? Our minions will reset it for you!</p>
      @helper.form(action = routes.Portal.requestResetHandler, args = 'method -> "POST") {
        <div class="form-group">
          @helper.inputText(form("email"), args = 'placeholder -> "Email", '_label -> "Email", '_showConstraints -> false)
        </div>
        <input type="submit" value="Change password" class="btn btn-primary" />
      }
    </div>
  </div>  
}