@(form: Form[ResetPassword])
@import helper.twitterBootstrap._

@main("Change password") {
  <div class="row">
    <div class="main">
      <h2>PeLoTi</h2>
      <p>Forgotten your password? Our minions will reset it for you!</p>
      @helper.form(action = routes.Portal.resetPasswordHandler, args = 'method -> "POST") {
        <div class="form-group">
          @helper.inputPassword(form("password"), args = 'placeholder -> "Password", '_label -> "New password", '_showConstraints -> false)
          <input type="hidden" name="token" value="@form("token").value" />
        </div>
        <input type="submit" value="Change password" class="btn btn-primary" />
      }
    </div>
  </div>  
}